body {
    background-image: url(images/dust.jpg);
    color: white; 
    display: flex;
    flex-direction: column;
    
}

.top {
    
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    font-size: 26px;
    border-top: 3px dashed yellow;
    border-bottom: 3px dashed blue;
    border-left: 3px dashed darkgreen;
    border-right: 3px dashed crimson;
    border-radius: 3px;
    font-family: Helvetica;
}

.nav {
    padding: 5px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    border: 2px dotted white;
    margin-bottom: 20px;
    margin-top: -18px;
}

.nav:hover {
    color: gold;
    border: 2px dotted gold;
}

.footer {
    display: flex;
    background-color: #18191A;
    font-size: 16px;
    align-items:flex-start;
}

.info {
    background-color: transparent;
    opacity: .9;
    text-align: center;   
    color: gold;
    font-size: 20px;
}






.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.raptor{ 
    flex: 1 0 24%;
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 20px;  
    padding-top: 10px;
}

.raptor:hover {
    border: 6px double lightpink;
    border-radius: 5px;
    
}
.raptor img{
    width: 200px;
}

.rap-name {

    font-size: 28px;
    font-style: italic;
    margin-top: 8px;
    text-align: center;
}
.rap-owner {
    margin-top: -28px;
    font-size: 18px;
    text-align: center;
}

.rap {
    color: white;
    text-decoration: none;
    padding-left: 25px;
}

.raptorhl {
    
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 40px; 
    width: 300px;
}

.single {
  
    flex: 1 0 24%;
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 20px;  

}

.rap-own {
    font-size: 26px;
    margin-bottom: -10px;
}

.rap-mint {
    font-style: italic;
    font-size: 28px;
    margin-bottom: -10px;
}

.own-hist {
    font-size: 26px;
    margin-bottom: 75;
}
