body {
    background-image: url(images/dust.jpg);
    color: white; 
    display: flex;
    flex-direction: column;
    
}

.top {
    
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 36px;
    border-top: 3px dashed yellow;
    border-bottom: 3px dashed blue;
    border-left: 3px dashed darkgreen;
    border-right: 3px dashed crimson;
    font-family: Helvetica;
}

.nav {
    padding: 5px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    border: 2px dotted white;
    margin-bottom: 20px;
    margin-top: -18px;
}

.nav:hover {
    color: lightgreen;
}

.footer {
    display: flex;
    background-color: black;
    font-size: 24px;
    align-items: baseline;
    margin-top: 200px;
}



.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.raptor{ 
    flex: 1 0 24%;
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 20px;  
}

.rap-name {

    font-size: 42px;
    font-style: italic;
    margin-top: 8px;
}
.rap-owner {
    margin-top: -42px;
    font-size: 32px;
}

.rap {
    color: white;
    text-decoration: none;
    padding-left: 25px;
}

.raptorhl {
    
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 40px; 
    height: 500px;
    width: 500px;
}

.single {
  
    flex: 1 0 24%;
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 20px;  

}

.rap-own {
    font-size: 32px;
    margin-bottom: -10px;
}

.rap-mint {
    font-style: italic;
    font-size: 36px;
    margin-bottom: -10px;
}
